<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>sagasu.space登録スタジオ数</h1>
    <p>現在の登録スタジオ数をお知らせします。</p>
    <p>active: <%= @active_studio.count %></p>
    <p>inactive: <%= @inactive_studio.count %></p>
    <p>reviewing: <%= @reviewing_studio.count %></p>
    <p>今週もお疲れ様でした！</p>
  </body>
</html>
